<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
	<!-- 创建订单 -->
	<dubbo:service interface="com.zcbspay.platform.business.order.service.OrderConcentrateService" ref="orderConcentrateService" retries="0" timeout="30000" version="1.0"/>
	
	<!-- 查询订单 -->
	<dubbo:service interface="com.zcbspay.platform.business.order.service.OrderQueryService" ref="orderQueryService" retries="0" timeout="30000" version="1.0"/>
	
	<dubbo:reference id="concentrateOrderService" interface="com.zcbspay.platform.payment.order.service.ConcentrateOrderService" retries="10" version="1.0"/>
	<dubbo:reference id="queryOrderService" interface="com.zcbspay.platform.support.order.query.query.service.QueryOrderService" retries="10" version="1.0"/>
</beans>